body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

input {
    padding : 10px;
    border : none;
    border-radius : 10px;
    margin : 10px;
    width : 300px;
}
button {
    padding: 5px;
    border: black  1px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(203, 199, 199);
    color: white;
    cursor: pointer;

}
ul {
   
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    font-style: italic;
}