body {
    text-align: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: black;
}
div{
    height: 100px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
    font-size: larger;
    font-weight: bold;
    
}
button {
    background-color: peachpuff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
